.main_chat
  .header
    .header__left
      .header__group
        group name
      .header__member
        Menber:
      
    .header__right
      Edit

  .main_contents
  
    .contents
      .contents__name
        shouya
      .contents__date
        2019/10/08/19:14:39
      .contents__message
        This is a first message.
        
       
      